{{ define "main" }}
<main class="post-wrap" style="margin-top: 48px;">
  <div class="post-wrap__inner">
    <h1 class="post-title"><span class="post-title__span">{{ .Title }}</span></h1>
    <div id="mainMap" class="post-mainMap"></div>
    <div class="post-content">
      {{ .Content }}
    </div>
  </div>
</main>

<script>
  const lineColor = '#c84d4b';

  // this is the vector style
  const style = {
    'Point': new ol.style.Style({
      image: new ol.style.Circle({
        fill: new ol.style.Fill({
          color: 'rgba(255,255,0,0.4)',
        }),
        radius: 2,
        stroke: new ol.style.Stroke({
          color: '#ff0',
          width: 1,
        }),
      }),
    }),
    'LineString': new ol.style.Style({
      stroke: new ol.style.Stroke({
        color: lineColor,
        width: 3,
      }),
    }),
    'MultiLineString': new ol.style.Style({
      stroke: new ol.style.Stroke({
        color: lineColor,
        width: 3,
      }),
    }),
  };

  const vector = new ol.layer.Vector({
    source: new ol.source.Vector({
      url: '{{ .Params.map.path }}',
      format: new ol.format.GPX(),
    }),
    style: function (feature) {
      return style[feature.getGeometry().getType()];
    },
  });

  const layerConfig = [
    new ol.layer.Tile({ source: new ol.source.OSM() }),
    vector
  ];

  let map = null

  // The source won't load unless the layer is visible on the map.
  // Listen to 'addfeature' event then re-center and re-zoom
  vector.getSource().on('addfeature', function(){
    map.getView().fit(vector.getSource().getExtent());
    map.getView().setZoom(map.getView().getZoom() - 1);
  })

  document.addEventListener("DOMContentLoaded", function () {
    map = new ol.Map({
      layers: layerConfig,
      target: "mainMap",
      view: new ol.View({
        center: [0, 0],
        zoom: 0,
      }),
    });
  });
</script>
{{ end }}
